<div
  style="
  padding: 15px 30px;
  background: #fff;
  font-size: 12px;
  color: #999;
  display: flex;
  justify-content: center;">
  Este e-mail foi enviado automaticamente representando a&nbsp; <strong>equipe GymPoint</strong>
</div>